* {
  font-family: "Roboto", sans-serif;
}

/* Header*/
#logo {
font-weight:600;
font-size: 1.2rem;
border: 2px solid pink;
display: inline;
padding: 5px;
}

ul {
  list-style: none;
  padding-left: 1px;
}

a {
  color: black;
}

/*Main*/

.first-img {
  width: 45%;
}

/*Footer*/

footer {
    margin-top: 1rem;
    border-top: 1px solid black;
}